/**
This file is for styling the navigation menu. It has been extracted to a partial to eliminate some of
the excessive nesting that is necessary to target these elements.
 */
.main_menu {
    @include media("<tablet") {
        top: -5.8rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: 15rem;
    }

    #avia-menu {
        > li {
            @include media("<tablet") {
                display: block;
            }

            > a {
                line-height: 13rem;

                .avia-menu-text {
                    color: $white-color;
                    font-size: 1.8rem;
                    font-weight: 400;
                }

                .avia-menu-fx {
                    background-color: $blue-color;
                    bottom: 0;
                }
            }

            // Drop down menu styles
            .sub-menu {
                > li {
                    > a {
                        .avia-menu-text {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    // The block below will color the hamburger menu icons
    .av-burger-menu-main {
        .av-hamburger-inner {
            display: none;
        }
    }
}
