/**
This file is for home page styles. Most sites use a hero-image as the top of the page, so we start by hiding
the breadcrumb container.
 */
body#top.home {
    .title_container {
        display: none; // Hides the enfold breadcrumbs
    }

    .lg-hero-image {
        h1 {
            color: $white-color;
            font-size: 4rem;
            text-align: center;
            font-weight: bold;
            font-family: "interstate", Sans-serif, serif;
        }

        p {
            color: $red-color;
            font-size: 2.8rem;
            text-align: center;
            text-transform: capitalize;
            font-family: "interstate", Sans-serif, serif;
            font-weight: bold;
            text-shadow: .1rem .1rem .1rem $black-color;
        }
    }

    .lg-mission-statement {
        h2 {
            font-size: 2.4rem;
            margin-bottom: 1.5rem;
        }
    }

    .lg-state-of-the-art-equipment-section {
        .entry-content-wrapper {
            @include media("<tablet") {
                display: flex;
                flex-direction: column-reverse;
            }
        }
    }

    .lg-call-to-action-section {
        margin-bottom: 1.5rem;

        h2 {
            color: $white-color;
            font-size: 2.6rem;
            font-weight: bold;
            text-align: center;
            line-height: 3.5rem;
        }
    }

    @import "../partials/lg-classes/lg-contact-section";
}
